terraform/variables.tf
terraform/terraform.tfvars
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfstate
terraform/*.tfstate.*
gromacs.egg-info
.git
.idea
dist
build
*.egg-info
